.header{
    background: #33CC00;
    color: #fff;
    font-size: .16rem;
    position: relative;
}
.header .header-portrait {
    position: absolute;
    border-radius: 100%;
    height: .3rem;
    width: .3rem;
    background: #fff;
    left: .1rem;
    top: .05rem;
    border: 1px solid #fff;
}
.header .titleText {
    margin-left: .45rem;
    float: left;
    height: .4rem;
    line-height: .4rem;
}
.header .headerItem {
    float: right;
    height: .4rem;
    line-height: .4rem;
}
.header .headerItem .item {
    padding: 0 .1rem;
    float: left;
    font-size: .14rem;
    position: relative;
}
.header .headerItem .activeBlock {
    display: inline-block;
    height: 0;
    width: 0;
    border-left: .05rem solid transparent;
    border-right: .05rem solid transparent;
    border-bottom: .05rem solid #fff;
    position: absolute;
    bottom: 0;
    left: 40%;
}